@model LojaGeek.Model.DB.Model.Compra

@{
    ViewBag.Title = "Comprar";
}

<h1>Comprovante de compra, do senhor(a) @Model.Cliente.Nome @Model.Cliente.Sobrenome, portador do cpf: @Model.Cliente.Cpf</h1><br />
<h2>Data da compra: @Model.DataDaCompra</h2>
<h3>Items comprados</h3>
@foreach(var item in Model.Carrinho.Items)
{
    <p>@item.Quantidade x @item.Produto.Nome, Preço: @(item.Produto.Preco*item.Quantidade)</p>
}

<p>Valor Frete: @Model.Carrinho.ValorFrete</p>
<p>Valor total: @Model.Carrinho.ValorTotal</p>

<h3>O pedido será entrega no endereço: <!--ToDo Sistema de endereços--></h3>
<h3>Haverá um contato em breve para a forma de pagamento</h3>

