@model  LojaGeek.Model.DB.Model.Carrinho

@{
    ViewBag.Title = "Index";
}

<h2><i class="glyphicon glyphicon-shopping-cart"></i> Carrinho</h2>

<table class="table table-responsive table-bordered">
    @foreach (var item in Model.Items)
    {

        <tr>
            <th>
                Produto
            </th>
            <th>
                Preço
            </th>
            <th>
                Quantidade
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @(item.Produto.Preco * item.Quantidade)
            </td>
            <td>
                @using (Html.BeginForm("AlterarQuantidade", "Carrinho", FormMethod.Post))
                {
                    <h6>Quantidade atual: @item.Quantidade</h6>
                    <select id="quantidade_nova" name="quantidade_nova" class="dropdown">
                        @for(var i=1; i<= item.Produto.Estoque; i++)
                        {
                            if(item.Produto.Estoque == 1)
                            {
                                <option value="1" class="alert-info" >Ultimo do estoque</option>
                            }
                            else
                            {
                                <option value="@i" class="dropdown-header">@i</option>
                            }
                        }
                    </select>
                    <input type="hidden" name="id" value="@item.Id"/>
                    <input type="submit" value="Atualizar Total" class="btn btn-default"/>
                }
            </td>
            <td>
                @Html.ActionLink("Detalhes do produto", "Detalhes", "Produto",  new { id = item.Produto.Id }, new { @class = "btn btn-info"})
                @Html.ActionLink("X", "RetirarItem", "Carrinho",new { id = item.Id },new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

<div style="display: flex; justify-content: space-between; align-items:center">
    <div>
        <div class="h4" style="text-align:center">
            @Html.DisplayNameFor(model => model.ValorTotal) <br /> @Html.DisplayFor(modelItem => Model.ValorTotal)
        </div>
    </div>
    <div>
        <div class="h4" style="text-align:center">
            @using (Html.BeginForm("GravarCupom", "Carrinho", FormMethod.Post))
            {
                <label for="cupom">Cupom</label>
                if (Model.Cupom != null) {
                    <input type="text" name="cupom" id="cupom" value ="@Model.Cupom.Nome" disabled class="form-control" />
                }
                else {
                    <input type="text" name="cupom" id="cupom" value ="" class="form-control" />
                    <input type="submit" value="Validar" class="btn btn-default" />
                }

                if (ViewBag.erro != null)
                {
                    <div class="danger panel-danger text-danger">
                        <p>@ViewBag.erro</p>
                    </div>
                }
                }
        </div>
    </div>
    <div>
        <div class="h4" style="text-align:center">
            @using (Html.BeginForm("CalcularFrete", "Carrinho", FormMethod.Post))
            {
                <label for="frete">CalcularFrete</label>
                <input type="number" name="frete" id="frete" value="" class="form-control" placeholder="Apenas os numeros" maxlength="8"/>
                <input type="submit" value="Calcular" class="btn btn-default" />
                if (ViewBag.sucesso != null)
                {
                    <div class="success panel-success text-success">
                        <p>@ViewBag.sucesso</p>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div>
    @if (Session["usuario"] != null)
    {
        @Html.ActionLink("Comprar", "Comprar", "Carrinho", null, new { @class = "btn btn-danger" })
    }
    else
    {
        @Html.ActionLink("Cadastrar", "CadastrarCliente", "Cliente", null , new { @class = "btn btn-info" })
        @Html.ActionLink("Entrar", "EntrarCliente", "Cliente", null, new { @class = "btn btn-default" })
    }
</div>