@model  LojaGeek.Model.DB.Model.Carrinho

@{
    ViewBag.Title = "Index";
    ViewBag.Cep = Session["Cep"];
}

<h2><i class="glyphicon glyphicon-shopping-cart"></i> Carrinho</h2>
<div class="">
        <div class="row">
            <div class="col-sm-10 col-md-12">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantitade</th>
                            <th class="text-center">Preço</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        
@foreach (var item in Model.Items)
{
                        <tr>
                            <td class="col-sm-8 col-md-4">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#">
                                        @if (item.Produto.Foto != null)
                                        {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 300px; height: 300px;" src="@item.Produto.Foto" data-holder-rendered="true">}
                                        else
                                        {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 300px; height: 300px;" src="~/Images/image-not-found.jpg" data-holder-rendered="true">}
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">@Html.ActionLink(item.Produto.Nome, "DetalheProduto")</h4>
                                        <h5 class="media-heading"> Plataforma: @Html.ActionLink(item.Produto.Plataforma, "DetalheProduto")</h5>
                                        <span>Qtd em estoque: </span><span class="text-success"><strong>@item.Produto.Estoque</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                @using (Html.BeginForm("AlterarQuantidade", "Carrinho", FormMethod.Post,new { @class= "form-group" }))
                                {
                                    <select id="quantidade_nova" name="quantidade_nova" class="dropdown form-control">
                                        <option value="@item.Quantidade" class="dropdown-header" disabled="disabled" selected="selected">@item.Quantidade</option>
                                        @for (var i = 1; i <= item.Produto.Estoque; i++)
                                        {
                                            if (item.Produto.Estoque == 1)
                                            {
                                                <option value="1" class="alert-info">Ultimo do estoque</option>
                                            }
                                            else
                                            {
                                                <option value="@i" class="dropdown-header">@i</option>
                                            }
                                        }
                                    </select>
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" value="Atualizar Total" class="btn btn-default" />
                                }
                            </td>
                            <td class="col-sm-1 col-md-2 text-center"><strong>R$ @item.Produto.Preco</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>R$ @(item.Produto.Preco * item.Quantidade)</strong></td>
                            <td class="col-sm-1 col-md-1">
                                @Html.ActionLink("X", "RetirarItem", "Carrinho", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                            }
                        
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            @using (Html.BeginForm("GravarCupom", "Carrinho", FormMethod.Post))
                            {
                                <label for="cupom">Cupom</label>
                                if (Model.Cupom != null)
                                {
                                    <input type="text" name="cupom" id="cupom" value="@Model.Cupom.Nome" disabled class="form-control" />
                                }
                                else
                                {
                                    <input type="text" name="cupom" id="cupom" value="" class="form-control" />
                                    <input type="submit" value="Validar" class="btn btn-default" />
                                }
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("CalcularFrete", "Carrinho", FormMethod.Post))
                            {
                                <label for="frete">CEP para frete</label>
                                if(Model.ValorFrete == 0)
                                {
                                    <input type="number" name="frete" id="frete" value="" class="form-control" placeholder="Apenas os numeros" maxlength="8" />
                                    <input type="submit" value="Calcular" class="btn btn-default" />
                                }
                                else
                                {
                                    <input type="number" name="frete" id="frete" value="@ViewBag.Cep" disabled class="form-control" />
                                }


                            }
                        </td>
                        <td>   </td>
                        <td><h5>Subtotal<br>Estimativa do envio<br/>Desconto</h5><h3>Total</h3></td>
                        @if (Model.Cupom != null)
                        {
                            <td class="text-right"><h5><strong>R$ @Model.ValorTotal<br>R$ @Model.ValorFrete<br/>@Model.Cupom.Desconto %</strong></h5><h3>R$ @(Model.ValorTotal + Model.ValorFrete - ((Model.Cupom.Desconto * 0.01)*Model.ValorTotal))</h3></td>
                        }
                        else {
                            <td class="text-right"><h5><strong>R$ @Model.ValorTotal<br>R$ @Model.ValorFrete<br/>0</strong></h5><h3>R$ @(Model.ValorTotal + Model.ValorFrete)</h3></td>
                        }

                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            @Html.ActionLink("Continuar comprando", "Index", "Home", null, new { @class = "btn btn-default" })
                        </td>
                        <td>
                            @Html.ActionLink("Finalizar compra", "Comprar", "Carrinho", null, new { @class = "btn btn-default btn-acao" })
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>