@model IEnumerable<LojaGeek.Model.DB.Model.Produto>


@{
    ViewBag.Title = "Loja Geek";
}

<div class="">
    <div class="row center">
        <div class="col-lg-9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 mb-4" style="margin:2% 4%">
                        <div class="card h-100">
                            <a href="/Produto/Detalhes/@item.Id">                        
                                @if (@item.Foto != null)
                                    {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 300px; height: 300px;" src=" " data-holder-rendered="true">}
                                else
                                    {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 300px; height: 300px;" src="~/Images/image-not-found.jpg" data-holder-rendered="true">}
                            </a>
                            <div class="card-body">
                                <small class="text-info">@item.Plataforma</small>
                                <h4 class="card-title">
                                    <a href="/Produto/Detalhes/@item.Id">@item.Nome</a>
                                </h4>
                                <h5>R$ @item.Preco</h5>
                            </div>
                            <div class="card-footer space-between-flex" style="width:90%">
                                <div>
                                    @Html.ActionLink("Descubra mais", "DetalheProduto", new { id = item.Id }, new { @class = "btn btn-default btn-acao" })
                                </div>
                                <div>
                                @using (Html.BeginForm("ColocarCarrinho", "Carrinho", FormMethod.Post))
                                {
                                    <input type="hidden" name="id" value=@item.Id>
                                    <input type="hidden" name="quantidade" value="1">
                                    <button type="submit" class="btn btn-default btn-acao-primario">Comprar</button>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


