@model IEnumerable<LojaGeek.Model.DB.Model.Produto>

@{
    ViewBag.Title = "Index";
}
<hr />
<div class="center">
    <p>
        @Html.ActionLink("Novo Produto", "CadastrarProduto", "Produto", null, new { @class = "btn btn-md btn-primary" })

        @*@using (Html.BeginForm("BuscarPeloNome", "Administrativo", FormMethod.Get))
        {
            @Html.Editor("edtBusca")
            <button type="submit" valur="Buscar" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Buscar
            </button>
        }*@

    </p>
</div>

<div class="row center">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <strong>Produtos</strong>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Foto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Preco)
                            </th>
                            <th>
                                <span>Quantidade em  </span>@Html.DisplayNameFor(model => model.Estoque)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ativo)
                            </th>
                            <th>Ações</th>
                        </tr>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @if (@item.Foto != null)
                                    {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [100x100]" style="width: 100px; height: 100px;" src="@item.Foto" data-holder-rendered="true">}
                                else
                                    {<img class="card-img-right flex-auto d-none d-md-block btn-" data-src=" " alt="Thumbnail [100x100]" style="width: 100px; height: 100px;" src="~/Images/image-not-found.jpg" data-holder-rendered="true">}
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estoque)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ativo)
                                </td>
                                <td>
                                    @Html.ActionLink("Desativar produto", "DesativarProduto", new { id = item.Id }, new { @class = "btn btn-danger"}) 
                                    @Html.ActionLink("Ativar produto", "AtivarProduto", new { id = item.Id }, new { @class = "btn btn-info" }) 
                                    @Html.ActionLink("Adicionar ao estoque", "AdicionarEstoque", new { id = item.Id }, new { @class = "btn btn-acao" })
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
