@using LojaGeek.Model.Utils

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <title>@ViewBag.Title - Loja Geek</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>@Html.ActionLink("Loja Geek", "Index", "Home", new { area = "" }, new { @class = "navbar-brand, logo" })</h1><br />
            <p>Jogos, Equipamentos e Acessórios</p>
        </div>
    </div>

    <nav class="navbar navbar-inverse cor-menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                @if (LoginUtils.Admin == null)
                {
                    if (LoginUtils.Cliente == null)
                    {
                        @Html.Partial("_MenuDefault")
                    }
                    else
                    {
                        @Html.Partial("_MenuLogado")
                    }
                }
                @if (LoginUtils.Admin != null)
                {
                    @Html.Partial("_MenuAdministrativo")
                }
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default center submenu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#consoles">
                    <span class="item">Consoles <i class="glyphicon glyphicon-chevron-down" style="font-size:.8em; margin-top:.05em"></i></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="consoles">
                <ul class="nav navbar-nav">
                    <li class="item">@Html.ActionLink("Playstation 4", "Index", "Busca", new { termo = "Playstation 4" })</li>
                    <li class="item">@Html.ActionLink("Playstation 3", "Index", "Busca", new { termo = "Playstation 3" })</li>
                    <li class="item">@Html.ActionLink("Xbox One", "Index", "Busca", new { termo = "Xbox One" })</li>
                    <li class="item">@Html.ActionLink("Xbox 360", "Index", "Busca", new { termo = "Xbox 360" })</li>
                    <li class="item">@Html.ActionLink("Switch", "Index", "Busca", new { termo = "Switch" })</li>
                    <li class="item">@Html.ActionLink("Nintendo 3DS", "Index", "Busca", new { termo = "Nintendo 3DS" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="panel-footer space-between-flex">
            <div class="item">@Html.ActionLink("©" + @DateTime.Now.Year + "- Loja Geek", "LoginView", "Administrativo")</div>
            <div class="item">@Html.ActionLink("Fale Conosco", "", "")</div>
        </footer>
    </div>

    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
