@using LojaGeek.Model.Utils

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <title>@ViewBag.Title - Loja Geek</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top glyphicon-record cor-menu">
        <div class="container">    
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="center">
                    <div class="container" style="margin-top:8%;">@Html.ActionLink("Loja Geek", "Index", "Home", new { area = "" }, new { @class = "navbar-brand, logo" })</div>
                </div>
            </div>            
            <div id="navbar" class="navbar-collapse collapse">
                @if (LoginUtils.Admin == null)
                    {
                        if (LoginUtils.Cliente == null)
                        {
                            @Html.Partial("_MenuDefault")
                        }
                        else
                        {
                            @Html.Partial("_MenuLogado")
                        }
                    }
                    @if (LoginUtils.Admin != null)
                    {
                        @Html.Partial("_MenuAdministrativo")
                    }
            </div>
        </div>
    </nav>

    <div>
        <nav class="navbar navbar-default navbar-fixed center">
            <ul class="nav navbar-nav space-between-flex">
                <div class="container"><li class="item">@Html.ActionLink("Playstation 4", "Index", "Busca", new { termo = "Playstation 4" })</li></div>
                <div class="container"><li class="item">@Html.ActionLink("Playstation 3", "Index", "Busca", new { termo = "Playstation 3" })</li></div>
                <div class="container"><li class="item">@Html.ActionLink("Xbox One", "Index", "Busca", new { termo = "Xbox One" })</li></div>
                <div class="container"><li class="item">@Html.ActionLink("Xbox 360", "Index", "Busca", new { termo = "Xbox 360" })</li></div>
                <div class="container"><li class="item">@Html.ActionLink("Switch", "Index", "Busca", new { termo = "Switch" })</li></div>
                <div class="container"><li class="item">@Html.ActionLink("Nintendo 3DS", "Index", "Busca", new { termo = "Nintendo 3DS" })</li></div>
            </ul>
        </nav>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="panel-footer space-between-flex">
            <div class="item">@Html.ActionLink("©" + @DateTime.Now.Year + "- Loja Geek", "LoginView", "Administrativo")</div>
            <div class="item">@Html.ActionLink("Fale Conosco", "", "")</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
