<div class="space-between-flex">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-home" })</li>
    </ul>

    <div>
        <input type="text" name="busca" value="" placeholder="Qual produto que você deseja ?" class="form-control form-control-lg" style="width:120%; text-align:center"/>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastrar", "CadastrarCliente", "Cliente")</li>
        <li>@Html.ActionLink("Entrar", "EntrarCliente", "Cliente")</li>
        <li class="pull-right">@Html.ActionLink(" ", "Index", "Carrinho", null, new { @class = "glyphicon glyphicon-shopping-cart" })</li>
    </ul>
</div>
@*<ul class="nav navbar-nav">
    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>

    <li class="active"><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Cadastrar", "CadastrarCliente", "Cliente")</li>
    <li>@Html.ActionLink("Entrar", "EntrarCliente", "Cliente")</li>
    <li class="pull-right">@Html.ActionLink("Carrinho", "Index", "Carrinho")</li>
</ul>*@