@using LojaGeek.Model.Utils

<div>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-home" })</li>
        <li>
            <div class="form-group">
                <div class="form-inline">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class="pesquisa"}))
                    {
                        <input type="text" name="busca" value="" placeholder="Pesquisa" id="barra-de-pesquisa" class="form-control form-control-lg" style="width:120%; text-align:center;" />
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    }
                </div>
            </div>
        </li>
        
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li id="correcao-posicao-dropdown">
            <div class="dropdown show">
                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @LoginUtils.Cliente.Nome <i class="glyphicon glyphicon-chevron-down" style="font-size:.5em; margin-right:.5em;"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div style="display:inline-grid;">
                        <div>@Html.ActionLink("Ver perfil", "PerfilCliente", "Cliente")</div>
                        <div>@Html.ActionLink("Compras feitas", "ComprasDoliente", "Compra")</div>
                        <div>@Html.ActionLink("Pesquisas feitas", "HistoricoDeBusca", "Home")</div>
                        <div>@Html.ActionLink("Sair", "DeslogarCliente", "Cliente")</div>
                    </div>
                </div>
            </div>
        </li>

        <li class="pull-right">@Html.ActionLink(" ", "Index", "Carrinho", null, new { @class = "glyphicon glyphicon-shopping-cart" })</li>
    </ul>
</div>


