<ul class="nav navbar-nav">
    <li class="panel-info">@Html.ActionLink("Estoque", "Estoque", "Administrativo")</li>
    <li class="panel-info">@Html.ActionLink("Promoções", "Promocoes", "Administrativo")</li>
    <li class="panel-info">@Html.ActionLink("Cupons", "Cupons", "Administrativo")</li>
    <li class="panel-info">@Html.ActionLink("Compras", "Compras", "Compra")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Sair", "DeslogarAdmin", "Administrativo")</li>
</ul>



