@model LojaGeek.Model.DB.Model.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Model.Nome
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Model.Descricao
        </dd>

        <dt>
            Quantidade no estoque
        </dt>

        <dd>
            @Model.Estoque
        </dd>

        <dt>
            Preço Unitário
        </dt>

        <dd>
            @Model.Preco
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            @if (Model.Foto != null)
            {
                <img src="@Model.Foto" alt="imagem do produto" />
            }
            else
            {
                <img src="~/Images/image-not-found.jpg" alt="Imagem não encontrada" height="200px" width="200px" />
            }
        </dd>

        @using (Html.BeginForm("GravarComentario", "Comentario", FormMethod.Post))
        {
            <div class="form-group">
                <label for="comentario">Adicione seu comentário aqui:</label>
                <textarea class="form-control" rows="5" name="comentario" required></textarea>
            </div>

            <div class="form-group">
                <input type="text" name="nome" placeholder="Qual o seu nome ?" required />
            </div>

            <input type="hidden" name="idProduto" value="@Model.Id" />

            <input type="submit" class="btn btn-md btn-primary btn-block" value="Enviar comentário">
        }


        @using (Html.BeginForm("ColocarCarrinho", "Carrinho", FormMethod.Post))
        {
            <input type="hidden" name="id_produto" value=@Model.Id>
            <input type="submit" class="btn btn-md btn-primary btn-block" value="Enviar para o carrinho">
        }

    </dl>
</div>
<hr />

<h2>Comentários</h2>
@foreach (var item in Model.Comentarios)
{
    <div class="">
        <h4>@item.Nome</h4>
        <p>@item.Texto</p>
    </div>
}

<hr />
<p>
    @Html.ActionLink("Voltar a página principal", "Index", "Home")
</p>
