@model LojaGeek.Model.DB.Model.Produto

@{
    ViewBag.Title = Model.Nome;
}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <p>
            @Html.ActionLink("Voltar a página principal", "Index", "Home", null, new { @class="voltar"})
        </p>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                    @if (Model.Foto != null)
                    {
                        <img src="@Model.Foto" alt="imagem do produto" style="width: 600px; height: 600px;" />
                    }
                    else
                    {
                        <img src="~/Images/image-not-found.jpg" alt="Imagem não encontrada" height="200px" width="200px" />
                    }
                <div class="card-body">
                    <h3 class="card-title">@Model.Nome</h3>
                    <h4>R$ @Model.Preco</h4>
                    <p class="card-text">@Model.Descricao</p>
                    @using (Html.BeginForm("ColocarCarrinho", "Carrinho", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value=@Model.Id>
                        <input type="hidden" name="quantidade" value="1">
                        <button type="submit" class="btn btn-default btn-acao-primario">Comprar</button>
                    }
                </div>
            </div>
            <!-- /.card -->
            <hr>
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    <h4><strong>Comentários</strong></h4>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.Comentarios)
                    {
                        for (var i=0; i<item.Nota; i++)
                        {
                            <i class="glyphicon glyphicon-star"></i>
                        }
                        for (var i = 0; i < 5-item.Nota; i++)
                        {
                            <i class="glyphicon glyphicon-star-empty"></i>
                        }
                        <p>@item.Texto</p>
                        <small class="text-muted">Enviado por @item.Nome</small>
                        <hr>
                    }

                    @using (Html.BeginForm("GravarComentario", "Comentario", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="comentario">Adicione seu comentário aqui:</label>
                            <textarea class="form-control" rows="5" cols="20" name="comentario" required></textarea>
                            <div>
                                <select name="nota" class="form-control">
                                    <option selected disabled>Dê sua nota para o jogo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input type="text" name="nome" class="form-control" placeholder="Qual o seu nome ?" required />
                        </div>

                        <input type="hidden" name="idProduto" value="@Model.Id" />

                        <input type="submit" class="btn btn-md btn-default btn-acao" value="Enviar comentário">
                        <br /><br />
                    }
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->


